/* styles.css */
@keyframes dropBounce-1 {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Headshot animation */
@keyframes slideInRight {
  0% {
    transform: translateX(150%); /* start far off screen to the right */
    opacity: 0;
  }
  60% {
    transform: translateX(-10%); /* slight overshoot for a natural feel */
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* end in final resting spot */
  }
}

.bounce-header-1 {
  animation: dropBounce-1 1s ease-out forwards;
  font-size: 6rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.bounce-header-3 {
  animation: dropBounce-1 3s ease-out forwards;
  font-size: 3rem;
  text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
        position: relative;
}

.header-wrapper {
    position: relative;
        h1, h2 {
            bottom: 0;
            z-index: 1;
            text-shadow: 1px 1px 2px #000000;
        }
}

    /* Start hidden off the right side */
.slide-in-right {
  opacity: 0;
  transform: translateX(150px);
  transition: all 0.8s ease-out;
}

/* When visible */
.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.circle {
          width: 30rem;
        height: 30rem;
        background-color: #000;
        border-radius: 50%;
        position: absolute;
        z-index: 0;
        align-items: center;
        border: 12px solid #fff;
      
        }

    .header {
        text-align: center;
        color: black;
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .headshot {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: slideInRight 1s ease-out forwards;
        position: relative;
        z-index: 5;
        margin-top: -1rem;

            .portrait {
                position: relative;
                width: 30rem;
                border-radius: 50%;
            }  
    }
      
