/* styles.css */

@keyframes dropBounce-1 {
  0% {
    transform: translateY(-600px);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Headshot animation */
@keyframes slideInRight {
  0% {
    transform: translateX(150%); /* start far off screen to the right */
    opacity: 0;
  }
  60% {
    transform: translateX(-10%); /* slight overshoot for a natural feel */
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* end in final resting spot */
  }
}

.bounce-header-1 {
  animation: dropBounce-1 1s ease-out forwards;
  font-size: 6rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.bounce-header-3 {
  animation: dropBounce-1 3s ease-out forwards;
  font-size: 3rem;
  text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-wrapper {
        h1 {
            font-size: clamp(3rem, 9.5vw, 7rem);
            text-shadow: 1px 1px 2px #000000;
        }
         h2 {
            font-size: clamp(2.5rem, 7.5vw, 4.5rem);
            text-shadow: 1px 1px 2px #000000;
        }
}

    /* Start hidden off the right side */
.slide-in-right {
  opacity: 0;
  transform: translateX(150px);
  transition: all 0.8s ease-out;
}

.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}


    .header {
        text-align: center;
        color: black;
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .headshot {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: slideInRight 1s ease-out forwards;
        position: relative;
        z-index: 5;
        margin-top: -1rem;
        background: rgb(255 0 175 / 60%);
        border-radius: 50%;
        border: 19px solid #ff9dbe;
        
        
            .portrait {
                position: relative;
                width: 17rem;
                border-radius: 50%;

                 @media only screen and (min-width: 768px) {
                 width: 25rem;
                }
            }  
    }
      
